body {
  margin: 0;
  background: #b6b2b2;
}

.navigation {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  background: #7fc7ff;
  padding: 10px 0;
}
.navigation__logo {
  width: 25%;
  margin-left: 10px;
}
.navigation__logo__img {
  width: 20%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 30px;
}
.navigation__menu {
  display: flex;
  height: 100%;
  width: 30%;
  padding: 0;
  text-align: center;
  margin: 0;
}
.navigation__menu__item {
  display: flex;
  width: 25%;
  list-style-type: none;
}
.navigation__menu__item__a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #000;
  font-weight: bolder;
  font-size: 1.5em;
}
.navigation__acc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: bolder;
  font-size: 1.5em;
  width: 25%;
}
.navigation__acc__auth {
  color: #000;
  text-decoration: none;
}
.navigation__acc__auth:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  background: #fff;
}
.header__heading {
  margin: 40px auto;
}
.header__info {
  margin: 0 10px;
  font-size: 1.2em;
}
.header__info__text {
  text-align: center;
}
.header__info__img {
  height: 25vh;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main {
  width: 90%;
  margin: 0 auto;
  background: #fff;
}
.main__promotion {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main__promotion__heading {
  font-size: 2em;
  margin: 30px auto;
}
.main__promotion__block {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.main__promotion__block__item {
  height: 500px;
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-radius: 30px;
  text-align: center;
}
.main__promotion__block__item__img {
  height: 50%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.main__promotion__block__item__heading {
  margin: 0;
  height: 5%;
}
.main__promotion__block__item__about {
  font-size: 1.2em;
}
.main__promotion__block__item__button {
  background: #ffd600;
  height: 6%;
  width: 40%;
  border-radius: 30px;
  margin-bottom: 10px;
}
.main__search {
  display: flex;
  flex-direction: column;
}
.main__search__heading {
  font-size: 2em;
  margin: 30px auto;
}
.main__search__form {
  display: flex;
  margin: 0 auto;
  background: #6c6c6c;
  border-radius: 30px;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
  width: 50%;
}
.main__search__form__item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
  height: 100%;
  width: 25%;
}
.main__search__form__item__input {
  padding: 0 10px;
  height: 20%;
  width: 100%;
  border-radius: 30px;
  padding-left: 5px;
}
.main__search__form__item__button {
  height: 20%;
  width: 70%;
  border-radius: 30px;
  padding-left: 5px;
  background: #ffd600;
}
.main__otzivi {
  display: flex;
  flex-direction: column;
}
.main__otzivi__heading {
  font-size: 2em;
  margin: 30px auto;
}
.main__otzivi__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.main__otzivi__items__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
  width: 35%;
  margin: 20px 0;
  background: #d3d0d0;
  border-radius: 30px;
  padding: 10px 0;
}
.main__otzivi__items__item__img {
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.main__otzivi__items__item__name {
  text-align: center;
  margin: 10px auto;
  font-size: 1.3em;
}
.main__otzivi__items__item__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__otzivi__items__item__info__text {
  height: 100%;
  width: 80%;
  font-size: 1.2em;
}
.main__otzivi__items__item__info__button {
  height: 8%;
  width: 30%;
  border-radius: 30px;
  background: #ffd600;
  margin-top: 10px;
}

.footer {
  display: flex;
  background: #7fc7ff;
  color: #000;
  font-weight: bolder;
  height: 10vh;
}
.footer__info {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  font-size: 1.3em;
}
.footer__info__text {
  width: 27%;
}
.footer__up {
  position: fixed;
  color: #000;
  font-weight: bolder;
  text-decoration: none;
  left: 20px;
  bottom: 40px;
  font-size: 1.2em;
}/*# sourceMappingURL=style.css.map */